NEXT_PUBLIC_SUPABASE_URL=https://gekjrxtrsqdbnijfznlj.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdla2pyeHRyc3FkYm5pamZ6bmxqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTA0NTI2ODQsImV4cCI6MjA2NjAyODY4NH0.Md4PFBPRW4l_ISora-rovI_PEKnUR2DBfEcyLqCA0PA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imdla2pyeHRyc3FkYm5pamZ6bmxqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MDQ1MjY4NCwiZXhwIjoyMDY2MDI4Njg0fQ.eUDLVeeQhgTR0h9mfJ4SUQzvyD2K1Q4Utpihu7jHnpI
STRIPE_SECRET_KEY=sk_test_51RfMtYRsx3toD3Cmiqy09AhdmCPybK0Ep7V5PnLAs94j5jzLnTzbfuCw2pXXNUlPkEQSfSgVyFCRwbqLqIoRUGGZ00h8yFddxf
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51RfMtYRsx3toD3CmzwMMwmG33hjYm6ciDJip1u8ep0GOSNfbgb1ErWj2gFz8rGrWv0T8LyIkdIpYx47x1ZRWiwmN00AFhUZ0a5
STRIPE_WEBHOOK_SECRET=whsec_14ceb29bf4ca2f31eccca957fc9c77c85fdc4b3f097b6caf0ce3c1fbb83ce48a
SHIPPO_API_KEY=shippo_test_be38274aef202aa510487ef5b33b2192afaeb629
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/3dthium_dev" 